<div
  class="container-fluid bg-primary text-white min-vh-100 d-flex flex-column align-items-center justify-content-center"
>
  <div class="text-center">
    <h1 class="display-3 fw-bold mb-4 text-shadow">Bienvenido</h1>
    <div class="d-flex flex-column flex-sm-row justify-content-center">
      <button
        class="btn btn-custom mb-2 mb-sm-0 me-0 me-sm-2"
        routerLink="/quiz-tv-shows"
      >
        ANHQV
      </button>
      <button
        class="btn btn-custom mb-2 mb-sm-0 me-0 me-sm-2"
        routerLink="/sheet-music-viewer"
      >
        Partituras
      </button>
      <button class="btn btn-custom" routerLink="/workout-plan">
        Gimnasio
      </button>
    </div>
  </div>
</div>
