<div class="episodes-container">
  <app-panel
    [title]="panelTitle"
    [text]="panelText"
    [text2]="panelText2"
    [isVisible]="isPanelVisible"
    (continue)="closePanel()"
  ></app-panel>
  <!-- Contendor de las temporadas 1 2 4 5 -->
  <div class="row mb-4">
    <div class="col-3">
      <quiz-table
        [tableTitle]="'Temporada 1'"
        [data]="episodesSeason1"
        [isFilled]="isFilledSeason1"
        [dataType]="'episodes'"
      ></quiz-table>
    </div>
    <div class="col-3">
      <quiz-table
        [tableTitle]="'Temporada 2'"
        [data]="episodesSeason2"
        [isFilled]="isFilledSeason2"
        [dataType]="'episodes'"
      ></quiz-table>
    </div>
    <div class="col-3">
      <quiz-table
        [tableTitle]="'Temporada 4'"
        [data]="episodesSeason4"
        [isFilled]="isFilledSeason4"
        [dataType]="'episodes'"
      ></quiz-table>
    </div>
    <div class="col-3">
      <quiz-table
        [tableTitle]="'Temporada 5'"
        [data]="episodesSeason5"
        [isFilled]="isFilledSeason5"
        [dataType]="'episodes'"
      ></quiz-table>
    </div>
  </div>
  <!-- Contendor del input y botones -->
  <div class="row">
    <!-- Segundo Input de búsqueda encima de la tabla "Otros" -->
    <div class="d-flex justify-content-center align-items-center mb-3">
      <div class="d-flex align-items-center">
        <input
          type="text"
          class="form-control w-75"
          placeholder="Introduce episodio"
          [(ngModel)]="searchTerm"
          (input)="searchEpisode()"
        />
        <span class="ms-3">{{ points }}/{{ totalEpisodes }}</span>
      </div>
      <!-- Botón para reiniciar el quiz -->
      <button class="btn btn-danger ms-2" (click)="resetQuiz()">
        Reiniciar
      </button>
      <button class="btn btn-warning ms-2" (click)="giveUp()">Rendirse</button>
    </div>
  </div>
  <!-- Contendor de la temporada 3 -->
  <div class="row">
    <div class="col-12">
      <table class="table" [ngClass]="{ 'table-success': isFilledSeason3 }">
        <thead>
          <tr>
            <th colspan="3" class="text-center">Temporada 3</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let episodeRow of episodeSeason3Columns">
            <ng-container *ngFor="let episode of episodeRow">
              <td
                *ngIf="episode.isShowing"
                [ngClass]="{
                  highlight: episode.isShowing && episode.isMissing === false,
                  'table-danger': episode.isMissing
                }"
              >
                <span class="ms-2">
                  3x{{
                    episode.episode < 10
                      ? "0" + episode.episode
                      : episode.episode
                  }}
                </span>
                <span class="full-name">- {{ episode.fullName }}</span>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
