/* Contenedor principal */
.background-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/quiz-tv-shows/img/fondo.jpg"); /* Ruta corregida */
  background-size: cover;
  background-position: center;
  position: relative; /* Necesario para posicionar los elementos encima */
}

/* Título centrado arriba */
h1 {
  position: absolute;
  top: 10px;
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
  margin: 0;
  z-index: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade sombra para mejorar la legibilidad */
}

/* Contenedor de botones alineados horizontalmente */
.button-container {
  display: flex;
  gap: 20px; /* Espaciado entre los botones */
  z-index: 1; /* Asegura que el contenedor esté encima de la imagen */
}

/* Botones */
.btn-personajes,
.btn-episodes {
  font-size: 1.5rem;
  padding: 15px 30px;
  background-color: rgba(0, 123, 255, 0.7); /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-personajes:hover,
.btn-episodes:hover {
  background-color: rgba(
    0,
    123,
    255,
    1
  ); /* Color del fondo del botón al pasar el ratón */
}
