/* Contenedor principal */
.background-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative; /* Necesario para posicionar los elementos encima */
  background-color: #f8f9fa; /* Fondo blanco o gris claro */
}

/* Título centrado arriba */
h1 {
  position: absolute;
  top: 20px;
  font-size: 2.5rem;
  color: #212529; /* Texto oscuro */
  text-align: center;
  margin: 0;
  z-index: 1;
  text-shadow: none; /* Quita la sombra para fondo sin imagen */
}

/* Contenedor de botones alineados horizontalmente */
.button-container {
  display: flex;
  gap: 20px; /* Espaciado entre los botones */
  z-index: 1; /* Asegura que el contenedor esté encima de la imagen */
}

/* Botones */
.btn-personajes,
.btn-episodes {
  font-size: 1.5rem;
  padding: 15px 30px;
  background-color: rgba(0, 123, 255, 0.7); /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-personajes:hover,
.btn-episodes:hover {
  background-color: rgba(
    0,
    123,
    255,
    1
  ); /* Color del fondo del botón al pasar el ratón */
}

/* Fondo para cuando no hay imagen */
.no-background {
  background-color: #f8f9fa; /* Fondo blanco o gris claro */
}
